
.DS_Store
scrapping/__pycache__/service.cpython-37.pyc
../WikiMatrix/tmx/en-fr_2.txt
../WikiMatrix/tmx/WikiMatrix.en-zh.en
../WikiMatrix/tmx/WikiMatrix.en-zh.zh
../WikiMatrix/tmx/WikiMatrix.en-zh.en
../WikiMatrix/tmx/fr_pairs.csv
../WikiMatrix/tmx/en-fr.txt
../WikiMatrix/tmx/en_fr_pairs.py
../WikiMatrix/tmx/en_zh_pairs.py
../WikiMatrix/tmx/zh_pairs.csv
code/resource/.DS_Store
code/resource/.DS_Store
code/resource/raw_dataset/.DS_Store
*.v2
